In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
#load data in variable from csv file
data = pd.read_csv('Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
data_ph=data.Phillippines.value_counts()
data_ph

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [8]:
data_indo=data.Indonesia.value_counts()
data_indo

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [9]:
data_malta=data.Malta.value_counts()
data_malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
data_India=data.India.value_counts()
data_India

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
data_obs = np.array([[271,267,269,280],[29,33,31,20]])
data_obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
p_value = stats.chi2_contingency(data_obs)

In [16]:
p_value[1]

0.2771020991233135

The calculated P_value is 0.278 > 0.05 hence accept null hypothesis and concluded that there is no variation by defective % over the centres