In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [4]:
data = pd.read_csv('LabTAT.csv')

In [5]:
data.head(5)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
Lab1 = pd.Series(data.iloc[:,0])
Lab2 = pd.Series(data.iloc[:,1])
Lab3 = pd.Series(data.iloc[:,2])
Lab4 = pd.Series(data.iloc[:,3])

Since there are more 2 samples / columns for analysis here we will use the Anova test

In [9]:
p_value=stats.f_oneway(Lab1,Lab2,Lab3,Lab4)

In [11]:
p_value[1]

2.1156708949992414e-57

The calculated P_value=0 i.e. < 0.05 hence null hypothesis is rejected and it is concluded that there is the difference in the average of the laboratories